.container {
    width: 70%;
    height: 700px;
    margin: 30px 200px;
    background-color: #ee98a2;
    display: flex;
    align-content: center;
}

.modal {
    z-index: 1;
    margin: auto;
    padding-bottom: 20px;
    width: 450px;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input_contact_form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data_input {
    width: 80%;
    height: 38px;
    margin-top: 20px;
    border-radius: 7px;
    border-color: #b2a0a0;
    border-style: solid;
    border-width: 1px   ;
}

.add_contact_button {
    margin-top: 25px;
    width: 80%;
    height: 38px;
    background-color: rgb(223, 95, 95);
    border-style: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
    color: #42060d;
}

.taskChoice {
    height: 9%;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
    display: flex;
}

.parChoice {
    font-size: 25px;
    margin-left: 75px;
}