<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact list</title>
  <link rel="stylesheet" href="style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
  <div class="modal">
    <div id="taskChoice" class="taskChoice">
      <p class="parChoice" id="addChoice" onclick="chooseAdd()"><b>Add</b></p>
      <p class="parChoice" id="updateChoice" onclick="chooseUpdate()">Update</p>
    </div>
    <div class="input_contact_form" id="input_contact_div">
      <select class="data_input" id="selectId" name="id" hidden></select>
      <form class="input_contact_form" id="input_contact_form" action="/addContact">
        <input type="text" class="data_input" id="name" name="name" placeholder="name">
        <input type="text" class="data_input" id="phone" name="phone" placeholder="phone">
        <input type="text" class="data_input" id="email" name="email" placeholder="email">
        <input type="text" class="data_input" id="blogLink" name="blogLink" placeholder="blogLink">
        <input type="text" class="data_input" id="comment" name="comment" placeholder="comment">
        <input type="submit" id="submit" class="add_contact_button" value="add contact">
      </form>
      <p th:text="${listSize}"></p>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script src="script.js"></script>
</body>
</html>